p{
    background-color: brown;
    text-align: center;
    color: cornsilk;
    align-content: center;
    margin: 0;
}
span{
    color: darkblue;
}
em{
    font-size: 12px;
}
input{
    margin: 0;
    padding: 0;
}